.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 40px;
    background-color: #1c1c24;
}

.modal {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.modal img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.owner {
    border-bottom: 3px solid var(--color-1);
    padding-bottom: 12px;
    font-family: var(--font-2);
}

.modal-desc {
    margin-top: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 12px;
}

.category {
    list-style: none;
    margin-bottom: 32px;
    font-weight: 500;
}

.buttons {
    margin-top: 12px;
    gap: 20px;
}

.btn-link {
    color: #1c1c24;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #1c1c24;
    padding: 16px 32px;
    background-color: white;
    letter-spacing: 0.8px;
}

.btn-link:hover {
    color: var(--color-1);
    border: 3px solid var(--color-1);
}

.desc {
    margin-top: 40px;
    font-size: 14px;
    margin-bottom: 20px;
}

.edit-btn {
    color: white;
    border: none;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 16px;
    background-color: black;
    letter-spacing: 0.8px;
    border: 3px solid black;
}

.edit-btn:hover {
    color: white;
    background-color: var(--color-1);
    border: 3px solid var(--color-1);
    cursor: pointer;
}

