<div class="blog">
    <div class="modal">
        <img src="{{ blog?.imageUrl }}" alt="" />
        <div class="modal-desc">
            <div class="owner">From: {{ user?.username }}</div>

            <div class="buttons" *ngIf="isOwner">
                <button
                    [routerLink]="['/blog', blog?._id, 'edit']"
                    class="edit-btn"
                >
                    Edit
                </button>
                <app-blog-delete />
            </div>

            <h5 class="title">{{ blog?.title }}</h5>
            <div class="category">{{ blog?.category }}</div>
            <a href="{{ blog?.link }}" class="btn-link">Project link</a>
            <p class="desc">
                {{ blog?.content }}
            </p>
        </div>

        <app-blog-likes [isAuth]="isAuth" [isOwner]="isOwner"></app-blog-likes>

        <app-blog-comments [isAuth]="isAuth" ></app-blog-comments>
    </div>
</div>
