.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 40px;
    background-color: #1c1c24;
}

.modal {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.modal img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-desc {
    margin-top: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 2px;
}

.category {
    list-style: none;
    margin-bottom: 32px;
}

.btn-link {
    color: #1c1c24;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #1c1c24;
    padding: 16px 32px;
    background-color: white;
    letter-spacing: 0.8px;
}

.btn-link:hover {
    color: var(--color-1);
    border: 3px solid var(--color-1);
}

.desc {
    margin-top: 40px;
    font-size: 14px;
    margin-bottom: 20px;
}

.likes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto 20px auto;
    gap: 20px;
}

.likes a {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-weight: 700;
    padding: 8px;
}

.likes-length {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 20px;
}

.btn-like {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    background-color: black;
    letter-spacing: 0.8px;
}

.btn-like:hover {
    color: white;
    background-color: var(--color-1);
}

.title-comments {
    font-size: 20px;
    color: var(--color-1);
    font-family: var(--font-2);
    border-bottom: 3px solid var(--color-1);
    padding-bottom: 12px;
    margin-bottom: 16px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-1);
    margin-bottom: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto 20px auto;
    gap: 20px;
}

.login a {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-weight: 700;
    padding: 8px;
}

.comments .comment {
    background-color: white;
    width: 70%;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comments .comment .username {
    font-weight: 700;
    color: #1c1c24;
}

.comments .comment .comment-text {
    font-weight: 500;
    color: var(--color-gray-16);
}

.add-comment {
    display: contents;
    flex-direction: row;
}

.add-comment .comment-btn {
    color: white;
    border: none;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 16px;
    background-color: black;
    letter-spacing: 0.8px;
    border: 3px solid black;
}

.add-comment .comment-btn:hover {
    color: white;
    background-color: var(--color-1);
    border: 3px solid var(--color-1);
    cursor: pointer;
}

.add-comment .comment-btn:disabled {
    cursor: auto;
    color: var(--color-gray-13);
}

.add-comment .comment-btn:disabled:hover {
    background-color: black;
    border: 3px solid black;
}

.add-comment .comment-input {
    padding: 8px 12px;
    width: 60%;
    border: 3px solid black;
    border-radius: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.edit-btn {
    color: white;
    border: none;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 16px;
    background-color: black;
    letter-spacing: 0.8px;
    border: 3px solid black;
}

.edit-btn:hover {
    color: white;
    background-color: var(--color-1);
    border: 3px solid var(--color-1);
    cursor: pointer;
}

