<div class="blog">
    <div class="modal">
        <img src="{{ blog?.imageUrl }}" alt="" />
        <div class="modal-desc">
            <div class="category">From: {{user?.username}}</div>

            <div *ngIf="isOwner" class="buttons">
                <button [routerLink]="['/blog', blog?._id, 'edit']" class="edit-btn">Edit</button>
                <button class="delete-btn">Delete</button>
            </div>

            <h5 class="title">{{ blog?.title }}</h5>
            <div class="category">{{ blog?.category }}</div>
            <a href="{{ blog?.link }}" class="btn-link">Project link</a>
            <p class="desc">
                {{ blog?.content }}
            </p>
        </div>

        <div class="likes">
            <div class="likes-length">8 likes</div>
            <div *ngIf="!isOwner && isAuth" class="btn-like">Like</div>
            <div *ngIf="!isAuth" class="login">If you want to like this blog </div>
            <a *ngIf="!isAuth"  routerLink="/login">Login Here</a>
        </div>

        <div class="title-comments">Recent Comments</div>

        <div class="comments">
            <div class="comment">
                <div class="username">Harry</div>
                <div class="comment-text">I like it a lot!</div>
            </div>

            <div class="comment">
                <div class="username">Ivan</div>
                <div class="comment-text">Very cool!</div>
            </div>

            <div class="comment">
                <div class="username">Yordan</div>
                <div class="comment-text">Super!</div>
            </div>
        </div>

        <div *ngIf="isAuth" class="add-comment">
            <form>
                <input
                    class="comment-input"
                    type="text"
                    placeholder="Type your comment here..."
                />
                <button class="comment-btn">Comment</button>
            </form>
        </div>

        <div *ngIf="!isAuth" class="login">
            <div *ngIf="!isAuth" class="login-text">If you want to add a comment</div>
            <a *ngIf="!isAuth" routerLink="/login">Login Here</a>
        </div>
    </div>
</div>
