<div class="blog">
    <div class="modal">
        <img src={{blog?.imageUrl}} alt="" />
        <div class="modal-desc">
            <div class="category">From: Username</div>

            <div class="buttons">
                <button class="edit-btn">Edit</button>
                <button class="delete-btn">Delete</button>
            </div>

            <h5 class="title">{{blog?.title}}</h5>
            <div class="category">{{blog?.category}}</div>
            <a href={{blog?.link}} class="btn-link">Project link</a>
            <p class="desc">
                {{blog?.content}}
            </p>
        </div>

        <div class="likes">
            <div class="likes-length">8 likes</div>
            <div class="btn-like">Like</div>
        </div>

        <div class="title-comments">Recent Comments</div>

        <div class="comments">
            <div class="comment">
                <div class="username">Harry</div>
                <div class="comment-text">I like it a lot!</div>
            </div>

            <div class="comment">
                <div class="username">Ivan</div>
                <div class="comment-text">Very cool!</div>
            </div>

            <div class="comment">
                <div class="username">Yordan</div>
                <div class="comment-text">Super!</div>
            </div>
        </div>

        <div class="add-comment">
            <form>
                <input
                    class="comment-input"
                    type="text"
                    placeholder="Type your comment here..."
                />
                <button class="comment-btn">Comment</button>
            </form>
        </div>
    </div>
</div>
