<div class="wrapper">
    <div class="container">
        <h1 class="heading">Add Your Blog</h1>
        <form class="blog-form">
            <div class="section">
                <label for="title">Title</label>
                <input type="text" id="title" class="input" placeholder="Title..." required>
            </div>
            <div class="section">
                <label for="category">Category</label>
                <input type="text" id="category" class="input" placeholder="Category..." required>
            </div>
            <div class="section">
                <label for="link">Project Link</label>
                <input type="text" id="link" class="input" placeholder="Project Link..." required>
            </div>
            <div class="section">
                <label for="imageUrl">Image URL</label>
                <input type="text" id="imageUrl" class="input" placeholder="Image URL..." required>
            </div>
            <div class="section">
                <label for="content">Content</label>
                <input type="text" id="content" class="input" placeholder="Content..." required>
            </div>
            <button type="submit" class="btn">Add Blog</button>
        </form>
    </div>
</div>
