<section class="about-section">
    <div class="section-header">
        <h3 class="text-title">Who We Are</h3>
        <div class="text-section">
            <div class="text-wrapper">
                <h2 class="text">
                    Mueller is a branding agency based in Somewhere. We shape
                    brand identities and design thoughtful digital experiences.
                </h2>
            </div>
            <div class="desc-wrapper">
                <p class="desc">
                    Deleniti dolorem reiciendis repellat labore velit dolor
                    nihil qui. Deserunt sapiente odio quos quisquam dolorem
                    cumque et omnis. Minima quibusdam sequi consequatur magni
                    non sunt est.
                </p>
            </div>
        </div>
    </div>

    <div class="stages-wrapper">
        <div class="stage">
            <div class="stage-number">01.</div>
            <div class="stage-title">
                <h3 class="h5">Define</h3>
            </div>
            <div class="stage-text">
                <p>
                    Nemo cupiditate ab quibusdam quaerat impedit magni. Earum
                    suscipit ipsum laudantium. Quo delectus est. Maiores
                    voluptas ab sit natus veritatis ut. Debitis nulla cumque
                    veritatis. Sunt suscipit voluptas ipsa in tempora esse
                    soluta sint aliquam rhoncus elit.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="stage">
            <div class="stage-number">02.</div>
            <div class="stage-title">
                <h3 class="h5">Design</h3>
            </div>
            <div class="stage-text">
                <p>
                    Quibusdam quis autem voluptatibus earum vel ex error ea
                    magni. Rerum quam quos. Aut asperiores sit mollitia. Rem
                    neque et voluptatem eos quia sed eligendi et. Eaque velit
                    eligendi ut magnam. Cumque ducimus laborum doloribus facere
                    maxime vel earum quidem enim suscipit.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="stage">
            <div class="stage-number">03.</div>
            <div class="stage-title">
                <h3 class="h5">Build</h3>
            </div>
            <div class="stage-text">
                <p>
                    Non ullam est vel facere et. Qui iusto optio nostrum
                    corrupti et dignissimos. Ipsam ipsam expedita aspernatur eos
                    harum quo atque tempore non. Magni saepe hic fuga cumque.
                    Nihil itaque laborum doloribus minus dolorum sint itaque
                    animi et voluptatem. illum nemo rerum voluptate.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="stage">
            <div class="stage-number">04.</div>
            <div class="stage-title">
                <h3 class="h5">Launch</h3>
            </div>
            <div class="stage-text">
                <p>
                    Nobis mollitia quo nulla sunt sit error repellat qui.
                    Praesentium minima consequatur. Aliquid aliquid aut.
                    Asperiores sed temporibus laboriosam delectus optio rerum
                    reiciendis. Quas at illum. Dolores itaque architecto. Magnam
                    voluptatem aperiam. Velit omnis est.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->
    </div>
    <!-- end process-list -->
</section>
<!-- end s-about -->
