<div class="clients">
    <div class="clients-wrapper">
        <div class="section-title">
            <div class="title-wrapper">
                <h3 class="title">
                    Brands we have had the privilege to work with
                </h3>
            </div>
        </div>

        <div class="logos">
            <div class="logo-wrapper logo1">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/snowflake.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo2">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/flash.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo3">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/rise.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo4">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/pinpoint.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo5">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/proline.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo6">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/vision.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo7">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/volume.svg"
                        alt=""
                    />
                </a>
            </div>
            <div class="logo-wrapper logo8">
                <a href="#0">
                    <img
                        class="logo"
                        src="../../assets/images/clients/hitech.svg"
                        alt=""
                    />
                </a>
            </div>
        </div>
    </div>
</div>
