<div class="wrapper">
    <div class="container">
        <h1 class="heading">Contact Us</h1>
        <form class="register-form">
            <div class="section">
                <label for="subject">Subject</label>
                <input type="text" id="subject" class="input" placeholder="Subject..." required>
            </div>
            <div class="section">
                <label for="text">Your Text</label>
                <input type="email" id="text" class="input input-text" placeholder="Write your text here..." cols required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
