<footer>
    <div class="footer">
        <div>
            <h3 class="header">Get In Touch</h3>
            <div class="text-wrapper">
                <h2 class="text">
                    Have an idea or an epic project in mind? Talk to us. Let's
                    work together and make something great. Drop us a line at
                    <span class="email">hello@mueller.com</span>
                </h2>
            </div>
        </div>
        <div class="contacts">
            <div class="contacts-wrapper">
                <div class="contact-block">
                    <h6 class="title">Where To Find Us</h6>
                    <p class="contact-list">
                        1600 Amphitheatre Parkway <br />
                        Mountain View, California <br />
                        94043 US
                    </p>
                </div>
            </div>

            <div class="contacts-info">
                <div class="contact-block">
                    <h6 class="title">Contact Infos</h6>
                    <ul class="contact-list">
                        <li><a href="tel:197-543-2345">+197 543 2345</a></li>
                        <li><a href="tel:197-123-9876">+197 123 9876</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-header -->

    <div class="footer-bottom">
        <div class="icon-wrapper">
            <ul class="icon-list">
                <li>
                    <a class="social-icon"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a class="social-icon"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a class="social-icon"><i class="fab fa-dribbble"></i></a>
                </li>
                <li>
                    <a class="social-icon"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>

        <div class="bottom-right">
            <div class="copyright">
                <span>© Copyright Mueller 2023</span>
            </div>
        </div>
    </div>
    <!-- s-footer__bottom -->
</footer>
