<div class="title-comments">Recent Comments</div>

<div>
    <div class="comments" *ngIf="comments.length === 0">
        Be the first to comment on this blog
    </div>

    <div class="comments" *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments" class="comment">
            <div class="username">{{ comment.user.username }}</div>
            <div class="comment-text">{{ comment.comment }}</div>
        </div>
    </div>
</div>

<div *ngIf="isAuth" class="add-comment">
    <form #form="ngForm">
        <input
            #inputComment="ngModel"
            ngModel
            required
            name="comment"
            class="comment-input"
            type="text"
            placeholder="Type your comment here..."
        />
        <button (click)="onCommentHandler(form)" [disabled]="form.invalid" class="comment-btn">Comment</button>
    </form>
</div>

<div *ngIf="!isAuth" class="login">
    <div *ngIf="!isAuth" class="login-text">If you want to add a comment</div>
    <a *ngIf="!isAuth" routerLink="/login">Login Here</a>
</div>
