<div class="bg" *ngIf="!isAuth">
    <p class="text">404, page not found.</p>
    <a class="back" routerLink="/home">Go back to home</a>
</div>

<div *ngIf="isAuth" class="profile">
    <div class="user-info">
        <h2 class="username-title">Username</h2>
        <p class="username">{{ userInfo.username }}</p>

        <h2 class="email-title">Email</h2>
        <p class="email">{{ userInfo.email }}</p>
    </div>

    <div class="blogs">
        <div class="post-blog-wrapper" *ngIf="blogs.length === 0">
            <div class="text-wrapper">You still haven't post blogs.</div>
            <a class="post-link" routerLink="/blog/add">Click here to post</a>
        </div>
        <div *ngIf="blogs.length > 0" class="blogs-wrapper">
            <article *ngFor="let blog of blogs" class="blog">
                <a [routerLink]="['/blog', blog._id]" class="link">
                    <div class="image-wrapper">
                        <img class="image" [src]="blog.imageUrl" alt="" />
                    </div>
                    <div class="info">
                        <div class="category">{{ blog.category }}</div>
                        <h4 class="title">{{ blog.title }}</h4>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
