<div class="profile">
    <div class="user-info">
        <h2 class="username-title">Username</h2>
        <p class="username">exampleexample</p>

        <h2 class="email-title">Email</h2>
        <p class="email">example@example.com</p>
    </div>

    <div class="blogs">
        <div class="blogs-wrapper">
            <article class="blog">
                <a class="link">
                    <div class="image-wrapper">
                        <img class="image" src="../../../assets/images/folio/white_turban@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">Frontend Design</div>
                        <h4 class="title">White Turban</h4>
                    </div>
                </a>
            </article>

            <article class="blog">
                <a class="entry-link">
                    <div class="image-wrapper">
                        <img src="../../../assets/images/folio/caffeine_and_tulips@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">Brand Identity</div>
                        <h4 class="title">Caffeine & Tulips</h4>
                    </div>
                </a>
            </article>

            <article class="blog">
                <a class="entry-link">
                    <div class="image-wrapper">
                        <img src="../../../assets/images/folio/grayscale@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">Product Design</div>
                        <h4 class="title">Grayscale</h4>
                    </div>
                </a>
            </article>

            <article class="blog">
                <a class="entry-link">
                    <div class="image-wrapper">
                        <img src="../../../assets/images/folio/lamp@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">E-Commerce</div>
                        <h4 class="title">Lamp</h4>
                    </div>
                </a>
            </article>

            <article class="blog">
                <a class="entry-link">
                    <div class="image-wrapper">
                        <img src="../../../assets/images/folio/tropical@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">Frontend Design</div>
                        <h4 class="title">Tropical</h4>
                    </div>
                </a>
            </article>

            <!-- <article class="blog">
                <a class="entry-link">
                    <div class="image-wrapper">
                        <img src="../../../assets/images/folio/woodcraft@2x.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="category">E-Commerce</div>
                        <h4 class="title">Woodcraft</h4>
                    </div>
                </a>
            </article> -->
        </div>
    </div>
</div>
