<section class="blog-section">
    <div class="section-header">
        <h3 class="text-title">Recent Blogs</h3>
        <div class="text-section">
            <div class="text-wrapper">
                <h2 class="text">
                    Here are some of our favorite projects we have done lately.
                    Feel free to check them out.
                </h2>
            </div>
            <div class="desc-wrapper">
                <p class="desc">
                    Quia iusto totam facilis ut atque quidem quis maiores iure.
                    Facilis mollitia enim illo sed et totam commodi. Velit a
                    recusandae sequi consequatur est dolorum eaque.
                </p>
            </div>
            <button (click)="navigateTo('blog/add')" class="add-blog">
                Add Blog
            </button>
        </div>
    </div>

    <div class="blogs">
        <div class="blogs-wrapper">
            <article *ngFor="let blog of blogs" class="blog">
                <a class="link">
                    <div class="image-wrapper">
                        <img class="image" [src]="blog.imageUrl" alt="" />
                    </div>
                    <div class="info">
                        <div class="category">{{ blog.category }}</div>
                        <h4 class="title">{{ blog.title }}</h4>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>
