<section id="home">
    <div class="home">
        <div class="background">js</div>

        <div class="back-photo">
            <img
                class="first-photo"
                src="../../assets/images/hero-bg.jpg"
                alt=""
            />
        </div>

        <div class="content">
            <div class="front-photo">
                <img
                    class="second-photo"
                    src="../../assets/images/intro-bg.jpg"
                    alt=""
                />
            </div>

            <div class="text-wrapper">
                <div class="line"></div>

                <h1 class="text">
                    We provide creative <br />
                    solutions to turn your <br />
                    ideas into digital reality.
                </h1>

                <div (click)="navigateTo('about')" class="btn-wrapper">
                    <a class="about-btn">More About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
