<section class="offers-section">
    <div class="section-header">
        <h3 class="text-title">What We Do</h3>
        <div class="text-section">
            <div class="text-wrapper">
                <h2 class="text">
                    Our services are tailored to make your business grow and
                    stand out.
                </h2>
            </div>
            <div class="desc-wrapper">
                <p class="desc">
                    Quia iusto totam facilis ut atque quidem quis maiores iure.
                    Facilis mollitia enim illo sed et totam commodi. Velit a
                    recusandae sequi consequatur est dolorum eaque.
                </p>
            </div>
        </div>
    </div>
    <!-- end section-header -->

    <div class="offers-wrapper">
        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="fas fa-underline"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="h5">Brand Identity</h3>
            </div>
            <div class="offer-text">
                <p>
                    Quibusdam quis autem voluptatibus earum vel ex error ea
                    magni. Rerum quam quos. Aut asperiores sit mollitia. Rem
                    neque et voluptatem eos quia sed eligendi et. Eaque velit
                    eligendi ut magnam. Cumque ducimus laborum doloribus facere
                    maxime vel earum quidem enim suscipit.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="fas fa-cube"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="h5">Product Design</h3>
            </div>
            <div class="offer-text">
                <p>
                    Nemo cupiditate ab quibusdam quaerat impedit magni. Earum
                    suscipit ipsum laudantium. Quo delectus est. Maiores
                    voluptas ab sit natus veritatis ut. Debitis nulla cumque
                    veritatis. Sunt suscipit voluptas ipsa in tempora esse
                    soluta sint aliquam rhoncus elit.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="fas fa-code"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="hv5">Frontend Development</h3>
            </div>
            <div class="offer-text">
                <p>
                    Perferendis quia nemo perspiciatis. Et amet aut ut sint quis
                    culpa quis impedit. Et id eum quae quae ea et. Et sed quae
                    qui veritatis deserunt. Facilis consequuntur qui aut
                    deleniti. Autem ipsa ratione dolorum consequuntur. Maxime
                    unde eos quibusdam maxime excepturi.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="fas fa-search"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="hv5">UX Research</h3>
            </div>
            <div class="offer-text">
                <p>
                    Qui est non similique. Veniam cupiditate sit est dolores
                    nobis vitae illum. Sunt nulla voluptate sit corporis ullam
                    esse id minima optio. Perferendis aliquam placeat ratione
                    magni nihil sed hic aperiam aperiam. Totam nihil molestiae
                    sed et possimus dolore ipsa omnis aliquid. Ea et mollitia.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="far fa-credit-card"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="hv5">E-Commerce</h3>
            </div>
            <div class="offer-text">
                <p>
                    Quos numquam et ea. Non fuga quidem pariatur. Repellendus
                    doloremque unde modi aut. Quo cumque porro eum saepe
                    quibusdam odit eligendi. Doloribus qui sit repellendus
                    cupiditate. Sed porro magnam dignissimos et facilis animi
                    quis tempora. Rerum cum molestiae.
                </p>
            </div>
        </div>
        <!-- end list-block__item -->

        <div class="offer">
            <div class="offer-number">
                <div class="list-block__icon">
                    <div><i class="fas fa-vector-square"></i></div>
                </div>
            </div>
            <div class="offer-title">
                <h3 class="hv5">Illustration</h3>
            </div>
            <div class="offer-text">
                <p>
                    Quasi in nulla maiores minus cupiditate tenetur ut officia
                    sint. Quis consequatur officiis dolor nulla fuga itaque cum
                    aut. Ut ut quis omnis dolor. Qui modi voluptatem eum. Minus
                    numquam consequatur incidunt vel maiores nostrum. Commodi
                    dignissimos sed laudantium aliquam tempora.
                </p>
            </div>
        </div>
    </div>
</section>
